.panel {
  width: 100%;
  min-height: 192px;
  padding-right: 78px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: #162C4E;

  @media (max-width: 1100px) {
    padding-right: 0;

    justify-content: center;
  }

  @media (max-width: 768px) {
    min-height: 160px;
  }

  @media (max-width: 360px) {
    min-height: 140px;
  }


  form {
    margin-top: -13px;
  }
}

.wrapper {
  width: calc(60% - 3px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-direction: column;
    row-gap: 27px;
  }

  @media (max-width: 360px) {
    flex-direction: column;
    row-gap: 10px;
  }
}