.buttonSubmit {
  width: 43px;
  min-height: 43px;
  padding-top: 5px;

  border-radius: 50%;

  background-color: #DF2224;

  transition: background-color .3s ease-in-out;

  &:hover{
    background-color: #ff0003;
  }

  @media (max-width: 768px) {
    width: 33px;
    min-height: 33px;
  }
}