@import "styles/fonts";
@import "styles/mixins";
@import "styles/variables";
@import "styles/animation";

.checkEvent {
  margin-top: 6vh;

  @include flex-center(column);
  row-gap: 11px;

  @media(max-width: 768px) {
    margin-top: 60px;
  }

  @media (max-width: 360px) {
    margin-top: 50px;
  }
}

.title {
  @include font-poppins();
  line-height: 27px;

  @media(max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}


.marginAnimation {
  animation-duration: $animation-duration;
  animation-name: margin-animation-check-event;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}

