@import "styles/variables";

.checkEvent {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 11px;

  @media(max-width: 768px) {
    margin-top: 60px;
  }

  @media (max-width: 360px) {
    margin-top: 50px;
  }
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @media(max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}


.marginAnimation {
  animation-duration: $animation-duration;
  animation-name: marginAnimation;
  animation-iteration-count: 1;
  animation-delay: 2.7s;
}

@keyframes marginAnimation {
  from {
    opacity: 0;
    margin-top: 0;
  }

  to {
    opacity: 1;
    margin-top: 70px;
  }
}