@import "styles/mixins";
@import 'styles/animation';
@import "styles/variables";

.mainScreen {
  position: relative;
  height: 100vh;

  @include flex-space-between(column);
}

.wrapper {
  padding-bottom: 3vh;
  margin-top: 6vh;

  @include flex-space-between(column);

  @media (max-width: 768px) {
    margin-top: 10vh;
  }

  @media (max-width: 360px) {
    margin-top: 7vh;
  }
}

.LeftSvg {
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: $animation-duration-curtains;
  animation-name: from-left-to-right;

  @media (max-width: 1100px) {
    left: -50px;
  }

  @media (max-width: 1100px) {
    left: -100px;
  }

  @media (min-width: 769px) and (max-width: 900px) {
    left: -170px;
  }

  @media (max-width: 768px) {
    left: 0;
  }
}

.RightSvg {
  position: absolute;
  top: 0;
  right: 0;
  animation-duration: $animation-duration-curtains;
  animation-name: from-right-to-left;
}


.marginAnimation {
  animation-duration: $animation-duration;
  animation-name: margin-animation;
  animation-iteration-count: 1;
}




