@import "styles/variables";

.mainScreen {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding-bottom: 3vh;
  margin-top: 6vh;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin-top: 100px;
  }

  @media (max-width: 360px) {
    margin-top: 70px;
  }
}

.LeftSvg {
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: $animation-duration-curtains;
  animation-name: from-left-to-right;

  @media (max-width: 1100px) {
    left: -50px;
  }

  @media (max-width: 1100px) {
    left: -100px;
  }

  @media (min-width: 769px) and (max-width: 900px) {
    left: -170px;
  }

  @media (max-width: 768px) {
    left: 0;
  }
}

.RightSvg {
  position: absolute;
  top: 0;
  right: 0;
  animation-duration: $animation-duration-curtains;
  animation-name: from-right-to-left;
}

@keyframes from-left-to-right {
  from {
    transform: translate(-1000px, -1000px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes from-right-to-left {
  from {
    transform: translate(1000px, -1000px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}


.marginAnimation {
  animation-duration: $animation-duration;
  animation-name: marginAnimation;
  animation-iteration-count: 1;
}

@keyframes marginAnimation {
  from {
    opacity: 0;
    margin-top: -20px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}


