.input {
  width: 100%;
  min-height: 59px;
  padding-left: 27px;


  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 40px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.6);

  background-color: #FFFFFF;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);


  @media (max-width: 360px),
  (min-width: 361px) and (max-width: 768px) {
    min-height: 41px;
    font-size: 14px;
    line-height: 21px;
  }
}