@import "styles/variables";

.timer {
  width: 90%;
  margin-top: 3vh;


  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    width: 80%;


    @media (max-width: 360px) {
      width: 86%;
    }
  }
}

.sepatator {
  margin-top: 18px;
  align-self: flex-start;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}


.marginAnimation {
  animation-duration: $animation-duration;
  animation-name: marginAnimation;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes marginAnimation {
  from {
    opacity: 0;
    margin-top: 0;
  }

  to {
    opacity: 1;
    margin-top: 3vh;
  }
}
