@import "styles/mixins";
@import "styles/variables";
@import "styles/animation";

.timer {
  width: 90%;
  margin-top: 3vh;


  @include flex-space-between();

  @media (max-width: 768px) {
    width: 80%;


    @media (max-width: 360px) {
      width: 86%;
    }
  }
}

.separator {
  margin-top: 2vh;
  align-self: flex-start;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}


.marginAnimation {
  animation-duration: $animation-duration;
  animation-name: margin-animation-timer;
  animation-iteration-count: 1;
  animation-delay: 1s;
}


