@import "styles/fonts";
@import "styles/mixins";

.buttonEventItemProps {
  width: 256px;
  height: 62px;

  border: 2px solid rgba(255, 255, 255, 0.8);
  border-left: white solid 8px;

  @include flex-center();

  @include font-sf-pro-display(600);
  line-height: 22px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(270deg, rgba(22, 44, 78, 0) 0%, rgb(22, 44, 78) 100%);

    transition: color .3s ease-in-out;
  }

  @media (max-width: 768px) {
    width: 169px;
    height: 44px;

    border-left: white solid 6px;

    font-size: 16px;
    line-height: 19px;
  }
}


