@import "styles/variables";

.event {
  margin: 0 2px;

  display: flex;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 688px;
    margin: 2px 0;

    flex-direction: column-reverse;

    transform: scaleX(-1);
  }

  @media (max-width: 360px) {
    width: 100%;
    max-width: 320px;
  }
}

.event:not(.active) {
  .title {
    border-bottom: 2px solid #FF1E00;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      box-shadow: 0 0 10px #FF1E00;
    }
  }

  .animationWrapper {
    max-width: 0;

    @media (max-width: 768px) {
      max-width: none;
      max-height: 0;
    }
  }
}

.event.active {
  .animationWrapper {
    width: 995px;
    max-width: 995px;

    @media (max-width: 768px) {
      max-width: none;
      width: 100%;
      max-height: 681px;
    }

    @media (max-width: 360px) {
      max-width: none;
      width: 100%;
      max-height: 376px;
    }
  }
}

.title {
  position: relative;
  width: 85px;
  max-width: 85px;
  padding-bottom: 20px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 280px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #162C4E;

  cursor: pointer;
  z-index: 1;


  @media (max-width: 768px) {
    width: 100%;
    max-width: none;
    height: 85px;
    padding-bottom: 0;
    padding-left: 40px;
    margin-top: 4px;

    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 0;

    transform: scaleX(-1);

  }

  @media (max-width: 360px) {
    max-width: none;
    height: 64px;
  }
}

.number {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;


  text-align: right;
  letter-spacing: -0.03em;

  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (max-width: 360px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.name {
  width: 482px;

  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;

  color: #FFFFFF;

  transform: rotate(-90deg);

  @media (max-width: 768px) {
    width: 88%;

    font-size: 24px;
    line-height: 24px;

    transform: rotate(0);
  }

  @media (max-width: 360px) {
    width: 87%;

    font-size: 18px;
    line-height: 18px;
  }
}

.animationWrapper {
  transition: max-width $animation-duration, max-height $animation-duration;
  overflow: hidden;
}

.description {
  position: relative;
  width: 995px;
  min-width: 995px;
  max-width: 995px;
  height: 681px;
  margin-left: 1px;

  display: flex;
  justify-content: flex-end;

  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);

  @media (max-width: 768px) {
    width: 100%;
    min-width: initial;
    max-width: none;
    margin-left: 0;

    align-items: flex-end;
  }

  @media (max-width: 360px) {
    width: 320px;
    min-width: initial;
    max-width: none;
    height: 376px;
  }
}

.backgroundNumber {
  position: absolute;

  top: -38px;
  right: 92px;

  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 380px;
  line-height: 380px;

  text-align: right;
  letter-spacing: -0.03em;

  color: rgba(255, 255, 255, 0.04);

  @media (max-width: 768px) {
    font-size: 152px;
    line-height: 152px;

    top: -10px;
    right: -25px;
  }

  @media (max-width: 360px) {
    font-size: 80px;
    line-height: 80px;

    top: 14px;
    right: -13px;
  }
}

.info {
  width: 364px;
  padding: 0 40px 50px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  transform: scaleX(-1);
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(20px);

  @media (max-width: 768px) {
    width: 688px;
    height: 192px;
    align-items: flex-start;

    transform: scaleX(1);
  }

  @media (max-width: 360px) {
    width: 320px;
    height: 158px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

.wrapper {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 76%;
  }
}

.descriptionName {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 360px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.date {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: rgba(255, 255, 255, 0.8);

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 360px) {
    font-size: 14px;
    line-height: 21px;
  }
}


