@import "styles/fonts";
@import "styles/mixins";

.dialElement {
  @include flex-center(column);
}

.time {
  @include font-poppins(600, 72px);
  line-height: 72px;

  color: #162C4E;

  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.timerWrapper {
  position: relative;
}

.unit {
  position: absolute;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);

  @include font-poppins(400, 16px);
  line-height: 16px;

  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 12px;
  }
}