.subscriptionForm {
  position: relative;
  width: 440px;

  button {
    position: absolute;
    top: 8px;
    right: 8px;

    @media (min-width: 361px) and (max-width: 768px) {
      top: 4px;
      right: 4px;
    }

    @media (max-width: 360px) {
      top: 4px;
      right: 4px;
    }
  }


  @media (max-width: 360px) {
    width: 280px;
  }

  @media (min-width: 361px) and (max-width: 768px) {
    width: 360px;
  }
}