.subscriptionForm {
  position: relative;
  width: 440px;

  button {
    position: absolute;
    top: 8px;
    right: 8px;

    @media (max-width: 768px) {
      top: 4px;
      right: 4px;
    }

    @media (max-width: 360px) {
      top: 4px;
      right: 4px;
    }
  }


  @media (max-width: 360px) {
    width: 280px;
  }

  @media (max-width: 768px) {
    width: 360px;
  }
}

.error {
  position: absolute;
  padding: 3px;
  border: #FF1E00 solid 1px;

  top: -36px;
  right: 40%;

  font-weight: 600;

  color: #FF1E00;
  background-color: rgba(255, 30, 0, 0.07);
}